---
layout: default
title: "Hire Me"
permalink: /hire-me/
page: hire
---

<main class="z-10 mx-auto relative pb-20 ">
  <h1 class="header">
    I'm Vernes.
  </h1>

  <div class="md:flex items-start mx-5 sm:mx-36 gap-20 mt-10 sm:mt-20">
    <div class="md:w-1/2">
      <img src="/assets/img/me.jpg" alt="me" class="rounded-t-full">
    </div>
    <div class="md:w-3/4 md:mt-0 mt-6">
      <h2 class="header sm:text-left">
        I'm a Software Engineer working remotely from where it's currently the sunniest 😎
      </h2>

      <p class="mt-5 xl:mt-10">
        I come up with solutions that help elevate the user experience.
        I've been in the business for over 7 years and can tackle everything from backend to frontend. I adapt my style
        to
        anything and anyone but tend to keep some of my core beliefs and tools on my belt.
      </p>
    </div>
  </div>

  <div class="mt-10 sm:mt-20 mx-4 sm:mx-10">
    <div class="dark:text-main-green text-white px-6 py-4 sm:p-6 ml-auto dark:bg-fresh-green bg-main-green rounded-full md:w-3/4">
      <div class="flex items-center justify-between">
        <div>
          <strong class="font-[serat]">WizardHealth</strong>
          <div>Fullstack Software Engineer</div>
        </div>
        <div class="font-[serat] text-xl">17~</div>
      </div>
    </div>

    <div class="dark:text-main-green text-white px-6 py-4 sm:p-6 dark:bg-fresh-green bg-main-green rounded-full md:w-1/4 mt-5">
      <div class="flex items-center justify-between">
        <div>
          <strong class="font-[serat]">Four Game Studio</strong>
          <div>Game Programmer</div>
        </div>
        <div class="font-[serat] text-xl">15-17</div>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <h2 class="mx-5 sm:mx-20 header">
      Let's work together if you
    </h2>
    <div class="mt-5 mx-4 sm:mx-10 sm:mt-10 m rounded-xl flex overflow-hidden p-8 md:p-20 relative">
      <div class="absolute inset-0 dark:bg-green-950 bg-white opacity-30"></div>

      <div class="grid-cols-1 sm:grid-cols-2 gap-8 sm:gap-16 grid relative">
        {% for requirement in site.data.requirements.requirements %}
          <div>
            <h3 class="header">
              {{ requirement.title }}
            </h3>
            <p class="mt-5 text-secondary-text">
              {{ requirement.description }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="sm:mx-20 mt-10 sm:mt-20">
    <h2 class="header mx-5 sm:mx-0">
      My public work
    </h2>

    <ul class="grid sm:grid-cols-2 gap-3 sm:gap-6 mt-8 sm:mt-10">
      <li class="transform transition-transform hover:translate-y-[-10px] rounded-xl overflow-hidden relative">
        <div class="absolute inset-0 dark:bg-green-950 bg-white opacity-30"></div>

        <a href="https://github.com/BakiVernes" target="_target" class="md:p-10 p-5 block relative z-10">
          <h3 class="header">
            <i class="fa-brands fa-github"></i> My Github profile
          </h3>

          <p class="mt-5 text-secondary-text">
            Most of my real work is done behind closed doors. But all of my open source contributions and projects can
            be found on my Github profile. Feel free to contact me via github as well.
          </p>
        </a>
      </li>

      <li class="transform transition-transform hover:translate-y-[-10px] rounded-xl h-48 sm:h-auto overflow-hidden relative">
        <div class="absolute inset-0 dark:bg-green-950 bg-white opacity-30"></div>

        <a href="https://dev.to/bakivernes" target="_target" class="md:p-10 p-5 block relative z-10">
          <h3 class="header">
            <i class="fa-brands fa-dev"></i> My Public Blog
          </h3>

          <img src="/assets/img/blog.gif" alt="blog" class="mt-5 rounded-lg absolute">
        </a>
      </li>
    </ul>
  </div>

  <div class="mx-5 sm:mx-20 mt-20">
    <a href="#contact">
      <h2 class="header group">
        Contact
        <span class="hidden group-hover:inline-block ml-1"><i class="fa-solid fa-link"></i></span>
      </h2>
    </a>

    <div class="mt-10 justify-between md:flex">
      <div>
        <div>
          <ul class="text-4xl flex gap-5">
            <li class="mt-5">
              <a target="_blank" href="https://linkedin.com/in/vernes-pendi%C4%87-830625146"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="mt-5">
              <a target="_blank" href="https://github.com/BakiVernes"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="mt-5">
              <a target="_blank" href="https://twitter.com/gembo_z"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="mt-5">
              <a target="_blank" href="https://www.instagram.com/zgembac/"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="mt-5">
              <a target="_blank" href="https://www.facebook.com/vernes.pendic/"><i class="fa-brands fa-facebook"></i></a>
            </li>
          </ul>
        </div>

        <div class="mt-10">
          <h3 class="header">Reach me directly</h3>
          <ul class="text-xl">
            <li class="mt-5">
              <button onclick="copyToClipboard('vernes@hey.com', this)"><i class="fa-solid fa-envelope mr-2"></i>vernes@hey.com</button>
              <span class="ml-2 transition-transform transition-opacity transform scale-100 opacity-0"><i class="text-2xl fa-solid fa-check"></i></span>
            </li>
            <li class="mt-5">
              <button onclick="copyToClipboard('+38761568164', this)"><i class="fa-solid fa-phone mr-2"></i>+387 61 568 164</button>
              <span class="ml-2 transition-transform transition-opacity transform scale-100 opacity-0"><i class="text-2xl fa-solid fa-check"></i></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="w-full mt-10 md:mt-0 md:w-1/2">
        <div id="randomItemDisplay"></div>
        {% for song in site.data.songs.songs %}
          <template id="item-{{ forloop.index }}">
            <a id="secondLink" target="_blank" href="{{ song.link }}" class="relative p-3 -mx-2 md:mx-0 md:p-5 rounded-full block overflow-hidden">
              <div class="absolute inset-0 dark:bg-green-950 bg-white opacity-30"></div>

              <div class="flex items-center gap-6">
                <i class="fa-brands fa-spotify text-[50px]"></i>

                <div>
                  <div>On repeat</div>
                  <div id="secondName" class="dark:text-fresh-green text-secondary-text relative">{{ song.name }}</div>
                </div>
              </div>
            </a>
          </template>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<script>
  function copyToClipboard(text, button) {
    navigator.clipboard.writeText(text).then(() => {
      const copied = button.nextElementSibling
      copied.classList.remove("scale-100", "opacity-0")
      copied.classList.add("scale-150", "opacity-100")

      setTimeout(() => {
        copied.classList.remove("scale-150", "opacity-100")
        copied.classList.add("scale-100", "opacity-0")
      }, 1500)
    })
  }

	document.addEventListener("DOMContentLoaded", function() {
		const templates = document.querySelectorAll("template");
		const randomIndex = Math.floor(Math.random() * templates.length);
		const randomTemplate = templates[randomIndex];

		const clone = document.importNode(randomTemplate.content, true);
		document.getElementById("randomItemDisplay").appendChild(clone);
	});
</script>