---
layout: friend
permalink: /petra/
page: petra
---

{% for letter in site.data.petra.letters reversed %}
  <main class="mt-20 md:mx-10 mx-3 pb-20 z-1">
    <article class="letter mx-auto max-w-3xl relative z-10">
      <header class="letter__header">
        <p class="letter__date">{{ letter.date }}</p>
        <h1 class="letter__title">{{ letter.title }}</h1>
      </header>

      <div class="letter__body">
        <p>{{ letter.greeting }}</p>
        {% for paragraph in letter.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <p>{{ letter.closing }}</p>
        <p class="letter__signature">{{ letter.signature }}</p>
      </div>
    </article>
  </main>
{% endfor %}