<nav class="inset-x-0 top-3 fixed rounded-lg flex justify-center z-50">
  <ul class="flex items-center gap-3 rounded-full p-5 transition-all">
    <li>
      {% if page.page == "home" %}
        <a href="/" class="btn--primary btn--primary--selected">
      {% else %}
        <a href="/" class="btn--primary">
      {% endif %}
          Home
        </a>
    </li>
    {% if page.page == "home" %}
      <li><a href="/hire-me" class="hire-me btn--primary">Hire Me</a></li>
      <li><a href="/admire-me" class="admire-me btn--primary">Admire Me</a></li>
    {% endif %}

    {% if page.page == "hire" or page.page == "cv" or page.page == "skills" or page.page == "testimonials" or page.page == "education" %}
      <li>
        {% if page.page == "hire" %}
          <a href="/hire-me" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me" class="hire-me btn--primary">
        {% endif %}

          Hire Me</a></li>
      <li>
        {% if page.page == "cv" %}
          <a href="/hire-me/cv" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/cv" class="hire-me btn--primary">
        {% endif %}
          Curriculum Vitae</a></li>
      <li>
        {% if page.page == "testimonials" %}
          <a href="/hire-me/testimonials" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/testimonials" class="hire-me btn--primary">
        {% endif %}
          Testimonials</a></li>
      <li>
        {% if page.page == "skills" %}
          <a href="/hire-me/skills" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/skills" class="hire-me btn--primary">
        {% endif %}
          Skills</a></li>
      <li>
        {% if page.page == "education" %}
          <a href="/hire-me/education" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/education" class="hire-me btn--primary">
        {% endif %}
          Education</a></li>
      <li><a href="https://dev.to/bakivernes" target="_blank" class="hire-me btn--primary">Blog</a></li>
    {% endif %}
  </ul>
</nav>