<button class="absolute top-0 right-0 z-50 p-4 sm:hidden inline-block" onclick="showMenu()">
  <i class="fa-solid fa-bars text-[40px]"></i>
</button>

<nav id="navigation" class="inset-0 sm:inset-x-0 sm:bottom-auto sm:top-3 fixed sm:rounded-lg w-full sm:w-auto sm:flex hidden justify-center z-50">
  <button class="absolute top-0 right-0 z-[51] p-4 sm:hidden inline-block" onclick="showMenu()">
    <i class="fa-solid fa-times text-[40px]"></i>
  </button>

  <ul class="flex w-full sm:w-auto sm:flex-row flex-col items-center gap-10 pt-24 sm:pt-5 sm:px-5 sm:gap-3 sm:rounded-full p-5 transition-all">
    <li>
      {% if page.page == "home" %}
        <a href="/" class="btn--primary btn--primary--selected">
      {% else %}
        <a href="/" class="btn--primary">
      {% endif %}
          Home
        </a>
    </li>
    {% if page.page == "home" %}
      <li><a href="/hire-me" class="hire-me btn--primary">Hire Me</a></li>
      <li><a href="/admire-me" class="admire-me btn--primary">Admire Me</a></li>
    {% endif %}

    {% if page.page == "hire" or page.page == "cv" or page.page == "skills" or page.page == "testimonials" or page.page == "achievements" %}
      <li>
        {% if page.page == "hire" %}
          <a href="/hire-me" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me" class="hire-me btn--primary">
        {% endif %}

          Hire Me</a></li>
      <li>
        {% if page.page == "cv" %}
          <a href="/hire-me/cv" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/cv" class="hire-me btn--primary">
        {% endif %}
          Curriculum Vitae</a></li>
      <li>
        {% if page.page == "testimonials" %}
          <a href="/hire-me/testimonials" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/testimonials" class="hire-me btn--primary">
        {% endif %}
          Testimonials</a></li>
      <li>
        {% if page.page == "skills" %}
          <a href="/hire-me/skills" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/skills" class="hire-me btn--primary">
        {% endif %}
          Skills</a></li>
      <li>
        {% if page.page == "achievements" %}
          <a href="/hire-me/achievements" class="hire-me btn--primary btn--primary--selected">
        {% else %}
          <a href="/hire-me/achievements" class="hire-me btn--primary">
        {% endif %}
            Achievements</a></li>
    {% endif %}
  </ul>
</nav>