<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Vernes: Experienced Software Engineer with over 7 years of expertise. Dive deep into a portfolio showcasing prowess in Rails, frontend delights, and robust backend solutions. Let's build something great together!">
  <meta name="author" content="Vernes Pendić">
  {% if page.page == "home" %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="https://kit.fontawesome.com/cd75f9f047.js" crossorigin="anonymous"></script>
</head>
<body class="transition-all bg-background dark:bg-main-green h-[100px] text-main-green max-w-[1500px] dark:text-fresh-green mx-auto">
  {% include navigation.html %}
  <div class="absolute inset-0 z-0 animation-canvas pointer-events-none"></div>
  {{ content }}
</body>

<script>
	if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.querySelector('HTML').dataset.mode = 'dark'
		document.querySelector('.darkmode-toggle').checked = true
	} else {
		document.querySelector('HTML').dataset.mode = 'light'
		document.querySelector('.darkmode-toggle').checked = false
	}

  function toggleDarkMode(checkbox) {
    const html = document.querySelector('HTML')
    const mode = checkbox.checked ? 'dark' : 'light'
    html.dataset.mode = mode
    localStorage.theme = mode
  }

  function showMenu({ children: [icon] }) {
		const navigation = document.getElementById("navigation")

    icon.classList.toggle("fa-bars")
    icon.classList.toggle("fa-times")

		navigation.classList.toggle("hidden")
		navigation.classList.toggle("block")
    navigation.classList.toggle("nav-scrolled")
  }

	const callback = (entries, observer) => {
		const entry = entries[0];

		const navBar = document.querySelector('NAV');
		navBar.children[0].classList.toggle('nav-scrolled', !entry.isIntersecting);
	}

	const options = {
		rootMargin: "-60px 0px 0px 0px",
		threshold: [1]
	};

	const io = new IntersectionObserver(callback, options);

	const target = document.querySelector('H1');
	io.observe(target);
</script>
</html>
